@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container {

    /* margin: 0 auto; */
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    border: 0px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2px;
    width: 250px;
    height: 400px;
    padding-bottom: 15px;
    /* display: flex;
    flex-direction: column;
    align-items: self-start; */
}

p {
    display: block;
    font-size: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
    opacity: 0.8;
    text-indent: 4px;
}
#p1{
    padding-bottom: 0%;
    font-weight: 1000;
    text-shadow: 40px;
    padding-left: 15px;
    letter-spacing: 1px;
    padding-right: 15px;
    text-indent: 2px;
    text-align: center;
    
}

img {
    width: 230px;
    height: 220px;
    margin: 10px 10px 0px 10px;
    position: relative;
    border: 0 solid;
    border-radius: 5px;

}